.content .wide_promo{
    background-color: black;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 15px;
}


.content .small-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 255px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 255px;
}

.content .small-container .lil-wide img {
    width: 1500px;
}

.content .small-container .little img {
    width: 740px;
}

.content .small-container .promo img{
    border-radius: 5px;
}

.content .small-container .promo-small-container{
    display: flex;
    gap: 20px;
}

.content .box-containers{
    display: flex;
    justify-content: space-between;
    
    margin-left: 210px;
    margin-right: 240px;
}

.content .box-containers .box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    border-radius: 5px;
    overflow: hidden;
    width: 313px;
    height: 100px;
}

.content .box-containers .box .box-logo .gaming{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    background-color: green;
}

.content .box-containers .box .box-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    height: 100px;
    background-color: green;
}

.content .box-containers .box .box-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    background-color: green;
}

.content .box-containers .box .box-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 20px;
    background-color: green;
}

.content .box-containers .box .box-logo img{
    width: 70px;
}

.content .box-containers .box .box-txt{
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}

.content .box-containers .box .box-txt strong{
    font-size: 16px;
}

.content .box-containers .box .box-txt span{
    font-size: 12px;
}











































































































/* @media (max-width: 1400px) {
    .content .wide_promo{
        transform: scale(0.7);
    }

    .content .small-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-left: 200px;
        margin-top: 10px;
        margin-bottom: 10px;
        
    
    }
    .content .small-container{
        margin-left: 220px;
    }
    
    .content .small-container .promo{
        border-radius: 2px;
    }
    .content .small-container .promo img{
        scale: 0.9
    }
    
} */


