.banner_rotativo span {
    color: red;
    font-size: 55px;
}

.historicoDeNavegacao {
  margin-top: 40px;
}

/* inicio atendimento online */
.contato_atendimento {
    display: flex;
    gap: 40px;
    left: 1500px;

}

.contato_atendimento .atendimento_online {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #3a3a3d;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
}

.contato_atendimento .atendimento_online .horario {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contato_atendimento .atendimento_online .FontAwesomeIconicon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    color: red;
}

.contato_atendimento .atendimento_online .telefone {
    margin-left: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contato_atendimento .atendimento_online .sac {
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* fim atendimento online */

/* inicio atendimento presencial */
.atendimento_fisico {
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: #3a3a3d;
    padding: 20px 30px;
    color: white;
    font-size: 20px;
}

.atendimento_fisico .FontAwesomeIconicon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
    margin-right: 10px;
    color: red;
}

.atendimento_fisico .separacao {
    width: 1px;
    height: 50%;
    background: white;
    margin: 5px;

}

/* fim atendimento presencial */



/* inicio informativos */
.footerLiks {
    display: flex;
}

.footerLiks p {
    color: red;
    padding: 50px 0px 0px 0px;
    margin: 0;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    position: relative;
}

.footerLiks .Newsletter .Linkapps p {
    padding: 0px 0px 0px 0px;
    margin-bottom: 1rem;
    padding-bottom: 1rem;

}

.footerLiks p::after {
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background: #e90313;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5px;
}


.footerLiks a {
    text-decoration: none;
    color: white;
}

.footerLiks li {
    list-style: none;
    margin-bottom: 15px;
}



.footerLiks .praticos {
    display: flex;
    gap: 70px;
    width: 700px;
}

.meiosPagamento {
    width: 250px;
}

.meiosPagamento .FTmeiospagamento {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.meiosPagamento .FTmeiospagamento li {
    margin-bottom: 15px;
    background: white;
    width: 35%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 15px 15px 13px;

}


.Newsletter {
    padding: 0px 0px 0px 80px;
}

.Newsletter strong {
    color: white;
}

.Newsletter span {
    font-size: 18x;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}

.MailBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

.OferEmail {
    width: 450px;
    max-width: 100%;
}

.form-box {
    display: flex;
    background-color: white;
    border-radius: 4px;
    overflow: hidden;
}

.email-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 17px;
}

.submit-button {
    background-color: white;
    border: none;
    padding: 0 16px;
    font-size: 50px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #eee;
}

.Newsletter .RedesSociais {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: end;
    gap: 5px;
    padding: 30px 0px 0px 0px;
}

.Newsletter .RedesSociais span {
    padding: 7px 0px 0px 0px;
}

.Newsletter .RedesSociais a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    font-size: 25px;
    border-radius: 50%;
    background-color: white;
    margin-right: 2px;
    color: red;
}

.Newsletter img {
    padding: 0px 15px 0px 0px;
}

/* fim informativos */

.EndPage {
    display: flex;
    gap: 30px;
    background: black;
    width: 75%;
    padding: 0px 254px 0px 254px;
}

.EndPage .pichau-logo {
    width: 230px;
    padding:150px 0px 0px 0px;
}



.EndPage .dados p {
    color: red;
    width: 100%;
    padding: 50px 0px 0px 0px;
}

.EndPage .dados address {
    color: white;
}

.EndPage .dados .RiscoVertical {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 15px;
    height: 2px;
    background: #e90313;
}

.EndPage .seguranca .RiscoVertical {
    display: block;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 15px;
    height: 2px;
    background: #e90313;
}


.EndPage .dados .teste span {
color: #868686; 
font-size: 12px;

}

.EndPage .seguranca{
    color: red;
    width: 50%;
}
.certificados{
    background-color: white;
    display: flex;
    padding: 30px 20px 30px 20px;
    align-items: center;
    border-radius: 5px;
}
.seguranca p{
    padding: 50px 0px 0px 0px;
}



