.header-upper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: 78px;
  display: flex;
  justify-content: center;
  gap: 400px;
  background-color: #303030;
}

.header-under {
  position: fixed;
  top: 78px;
  left: 0;
  z-index: 999;
  display: flex;
  padding: 10px 40px 10px 280px;
  background-color: #303030;
  gap: 30px;
  width: 100%;
}


.pichau-logo {
  width: 215px;
  padding: 19px 0px 0px 30px;
}

.options {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: white;
  font-size: 13px;
}

.options div {
  display: flex;
  align-items: center;
  text-align: left;
}

.options a, .options button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 12px;
  font-size: 20px;
}

.options span {
  font-size: 10px;
  text-transform: uppercase;
}

.options strong {
  font-size: 15px;
  font-weight: bold;
  display: block;
}

.home .header-upper .ShoppingCar {
  color: white;
  background-color: #009e2a;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  border: none;
  gap: 8px;
  cursor: pointer;
  min-width: 140px;
  justify-content: space-between;
}

.ShoppingCar .icon {
  font-size: 20px;
  padding-right: 10px;
}

.ShoppingCar .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.ShoppingCar .text strong {
  font-size: 20px;
}

.ShoppingCar .text span {
  font-size: 10px;
}

.ShoppingCar .arrow {
  font-size: 14px;
  margin-left: auto;
}

/* Botão departamentos */
.departamentos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  border-radius: 7px;
  height: 63px;
  width: 350px;
  border: solid 3px red;
  cursor: pointer;
  background-color: red;
}

.departamentos:hover {
  background-color: rgb(150, 0, 0);
}

.departamentos .dep-bars {
  margin-left: 10px;
  height: 28px;
}

.departamentos .dep-words {
  display: flex;
  width: 200px;
  flex-direction: column;
  color: white;
  align-items: end;
}

.departamentos .dep-words strong {
  font-size: 1.7em;
}

/* Barra de busca */
.search {
  display: inline-flex;
  align-items: flex-start;
  border-radius: 4px;
  background: rgb(66, 66, 66);
  border: rgb(66, 66, 66);
  height: 30px;
  margin-top: 20px;
}

.search input {
  padding: 10px;
  border-radius: 4px;
  background: rgb(66, 66, 66);
  border: none;
  color: white;
  outline: 0;
  width: 1068px;
  font-size: 20px;
}





















/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 330px;
  height: 100%;
  background-color: #605c5c;
  box-shadow: 3px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;

  overflow-y: auto; /* Garante a rolagem */
  scrollbar-color: #888 #2c2c2c; /* Firefox: thumb + track */

}


.sidebar.open {
  transform: translateX(0);
  opacity: 1;
  pointer-events: auto;
}

.pichau-logo-Sidebar {
  width: 215px;
  padding: 10px 0px 0px 15px;
}

.sidebar.open .SidebarLogo {
  display: flex;
}

.sidebar.open .SidebarLogo .close-btn {
  padding: 25px 0px 0px 45px;
  font-size: 25px;
}

.sidebar.open h2 {
  padding: 15px 0px 15px 15px;
  color: white;
  font-size: 13px;
}


.sidebar.open .ButtonMontarPC .MontePC {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 26px;
  border-radius: 10px;
  height: 45px;
  width: 280px;
  border: 2px solid red;
  background-color: red;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}


.sidebar.open .ButtonMontarPC {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: 0.5s ease;
}

.sidebar.open .ButtonMontarPC:hover {
  background-color: #1b1e23;
}

.sidebar.open .ButtonMontarPC .MontePC:hover {
  background-color: rgb(150, 0, 0);
}

.sidebar.open .ButtonMontarPC .MontePC .IconGear {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.sidebar.open .MontePC .IconGear {
  padding: 0px 8px 0px 0px;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.sidebar.open .MontePC strong {
  color: white;
  font-size: 20px;
}

.menu-sidebar {
  list-style: none;
  padding: 0;
}

.menu-sidebar .menu-item-sidebar {
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}
.menu-sidebar .menu-item-sidebar .category-left {
  display: flex;
  align-items: center;
}

.menu-sidebar .menu-item-sidebar .IconSidebar {
  font-size: 20px;
  padding: 5px 15px 5px 10px;
}

.menu-sidebar .menu-item-sidebar .iconSidebar2 {
  font-size: 14px;
}

.submenu li {
  list-style: none;
  padding-left: 15px;
  margin-top: 5px;
  font-size: 16px;
  font-weight: normal;
  color: white;
  padding: 0px 0px 0px 35px;
}

.submenu li {
  margin-bottom: 6px;
  cursor: pointer;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  float: right;
  cursor: pointer;
  color: white;
}



/* fim sidebar */