/* caixa do produto inicio */
.product .txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 50px;
  width: 1500px;
  margin-bottom: 16px;
}

.product .txt span {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
}

.product .product-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 227px;
  height: 517px;
  color: white;
}

.product .product-box .product-img {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: gray;
  border-radius: 10px;
  width: 227px;
  height: 227px;
}

.product .product-box .product-details {
  display: flex;
  flex-direction: column;
}
.product .product-box .product-details span {
  color: red;
}

.product .product-box .product-price-vista {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product .product-box .product-price-vista div {
  font-size: 30px;
  color: #169b09;
}
.product .product-box .product-price-vista span {
  font-size: 10px;
}
.product .product-box .product-price-vista .vista-span {
  color: #169b09;
}

.product .product-box .separator {
  width: 30px;
  height: 2px;
  background: #f00;
  margin: 10px 0;
}

.product .product-box .product-parcelado-inline {
  display: flex;
  flex-direction: column;
}

.product .product-box .product-parcelado-inline .inline-payment {
  color: red;
}
.product .product-box .product-parcelado-inline span {
  font-size: 14px;
}

.product .items {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colunas de largura igual */
  gap: 27px; /* Espaço entre os itens (opcional) */
}
/* caixa do produto fim */
